body {
  background-color: #2979FF;
}

span {
  color: black;
  background-color: orange;
  display: inline-block;
  font-size: 80px;
  text-align: center;
  height: 80px;
  width: 80px;
  border: solid #222;
  border-width: 3px;
  border-radius: 10px;
}

/*#n33 {
  color: #2979FF;
  background-color: #2979FF;
  display: inline-block;
  font-size: 80px;
  text-align: center;
  height: 80px;
  width: 80px;
  border: solid #222;
  border-width: 0px;
}*/
